<!-- LOGO -->

<header id="head" background:"url(/assets/images/nav-bg.gif)">
	<div class="flexbox">
    <div class="center-on-mobiles">
		<h1>
        <a href="/" class="logo">
			<span class="sr-only">ealcos</span>
			<img src="/assets/images/cyden-black.png" width="65" height="65" alt="My Logo">
			</a>
		</h1>
    </div>
	
<!-- COMP NAV -->	

    <nav class="main-nav hide-on-mobiles">
		<ul>
		<li class="">
			<a href="/">Home</a>
			</li>
		<li class="current">
			<a href="/resources">Resources</a>
			</li>
		<li class="">
			<a href="/feeds">Feeds</a>
			</li>
		<li class="">
			<a href="/about">About</a>
			</li>
		</ul>

    </nav>
	</div>
  
<!-- MOBILE NAV -->

	<nav class="mobile-nav show-on-mobiles">
		<ul>
		<li class="">
			<a href="/">Home</a>
			</li>
		<li class="current">
			<a href="/resources">Resources</a>
			</li>
		<li class="">
			<a href="/feeds">Feeds</a>
			</li>
		<li class="">
			<a href="/about">About</a>
			</li>
		</ul>

	</nav>
</header>